connector.class=io.debezium.connector.sqlserver.SqlServerConnector
transforms.unwrap.delete.handling.mode=drop
topic.creation.default.partitions=5
auto.create.topics.enable=true
tasks.max=1
schema.history.internal.consumer.sasl.jaas.config=software.amazon.msk.auth.iam.IAMLoginModule required;
transforms=unwrap
schema.include.list=CTGout
include.schema.changes=false
cleanup.policy=compact
topic.prefix=CTGout
schema.history.internal.kafka.topic=internal.dbhistory.esg
schema.history.internal.producer.security.protocol=SASL_SSL
transforms.unwrap.drop.tombstones=true
topic.creation.default.replication.factor=2
transforms.unwrap.type=io.debezium.transforms.ExtractNewRecordState
retention.ms=2678400000
value.converter=org.apache.kafka.connect.json.JsonConverter
key.converter=org.apache.kafka.connect.json.JsonConverter
transforms.createCompositeKey.fields=FileID,FileSequence
schema.history.internal.producer.sasl.mechanism=AWS_MSK_IAM
database.encrypt=false
schema.history.internal.consumer.sasl.client.callback.handler.class=software.amazon.msk.auth.iam.IAMClientCallbackHandler
database.user=python_user
database.names=esg
schema.history.internal.producer.sasl.client.callback.handler.class=software.amazon.msk.auth.iam.IAMClientCallbackHandler
database.server.name=10.93.254.26
schema.history.internal.kafka.bootstrap.servers=b-2.seshybdev.bvj0c2.c20.kafka.us-east-1.amazonaws.com:9098,b-3.seshybdev.bvj0c2.c20.kafka.us-east-1.amazonaws.com:9098,b-4.seshybdev.bvj0c2.c20.kafka.us-east-1.amazonaws.com:9098
database.port=1433
delete.retention.ms=86400000
retention.bytes=107374182400
key.converter.schemas.enable=false
database.hostname=10.93.254.26
database.password=LovingLungfish77
value.converter.schemas.enable=false
schema.history.internal.consumer.sasl.mechanism=AWS_MSK_IAM
schema.history.internal.producer.sasl.jaas.config=software.amazon.msk.auth.iam.IAMLoginModule required;
table.include.list=CTG_APA_2000_Transaction_CT
transforms.createCompositeKey.type=org.apache.kafka.connect.transforms.ValueToKey
schema.history.internal.consumer.security.protocol=SASL_SSL